body
{
    background:#eee !important;
    color: #708090 !important;
}

.error
{
    color: white;
    background-color: #ff0000;
    padding: 8px;
    display: none;
}

.upload
{
    color: white;
    background-color: #8bc34a;
    padding: 8px;
    display: none;
}

.bootdey
{
    margin-top:20px;
}

#user_profile_image 
{
    height: 200px;
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user_info_table 
{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 3px;
    border-collapse: separate;
}

#paragraphs_containing_user_profile_info
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:black;
}

#followers_tag_in_user_profile
{
    display:table-cell;
    color:black;
}

#following_tag_in_user_profile
{
    display:table-cell;
    color:black;
}

#div_for_followers_and_following_tags_in_user_profile
{
    display:table;
    width:220px;
    margin-right:auto;
    margin-left:auto;
}

#like_post_link, #dislike_post_link, #share_post_link
{
  color: #708090;
}

#like_post_link:hover ,#dislike_post_link:hover, #share_post_link:hover
{
  color: blue;
}

.icon-1x 
{
    font-size: 24px !important;
}

.fa 
{
  font-size: 30px !important;
  cursor: pointer;
  user-select: none;
}

.fa-trash
{
  color: #708090;;
}

#image_container
{
    display: flex;
    justify-content: center;
    align-items: center;
}