<!DOCTYPE html>
<html>
    <head>

        <title>Online Discussion Forum | Password Reset</title>
        <link rel="stylesheet" href="/static/css/custom_stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body>

        {% if session.get("name") %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand" href="#">Forum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/logout">Log Out</a>
                    </div>
                </div>

            </nav>

        {% else %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="#">Forum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/login_account">Sign In</a>
                    <a class="nav-item nav-link" href="/register_account">Register</a>
                </div>
            </div>

            </nav>
        {% endif %}

        <div id="container_div_for_password_reset">
            <div id="div_containing_password_reset">
                <form action="{{ url_for("forgot_password")}}" method="post">
                    <h2 id="heading_in_password_reset">Password Reset</h2>
                    <br>
                    <p id="paragraph_in_password_reset">Choose a strong password</p>
                    <input type="password" id="password_reset" name="password_reset" placeholder="Password" required>
                    <br><br>
                    <input type="password" id="confirm_password_reset" name="confirm_password_reset" placeholder="Re-enter password" required>
                    <br><br>
                    <button id="change_password_button" type="submit">Change password</button>
                    <br><br>
                </form>
            </div>
        </div>

    </body>
</html>