<!DOCTYPE html>
<html>
    <head>

        <title>Online Discussion Forum | Password Reset</title>
        <link rel="stylesheet" href="/static/css/custom_stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <style type="text/css">
									
            body
            {
                background:#eee;
                color: #708090;
            }		
            
        </style>

    </head>

    <body>

        {% if session.get("name") %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand" href="#">Forum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/student_profile">Profile</a>
                        <a class="nav-item nav-link" href="/logout">Log Out</a>
                    </div>
                </div>

            </nav>

        {% else %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="#">Forum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/login_account">Sign In</a>
                    <a class="nav-item nav-link" href="/register_account">Register</a>
                </div>
            </div>

            </nav>
        {% endif %}

        <section class="vh-100">
            <div class="container py-5 h-80">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-6 text-center">
        
                        <h3 class="mb-5">Password Reset</h3>

                        <form action="{{ url_for("forgot_password")}}" onsubmit="return validate_reset_password_form()" method="post">

                            <div class="form-outline mb-4">
                                <p id="paragraph_in_password_reset">Choose a strong password</p>
                            </div>
            
                            <div class="form-outline mb-4">
                                <input type="password" id="password_reset" name="password_reset" autocomplete="off" placeholder="New Password" class="form-control form-control-lg" required>
                            </div>
                
                            <div class="form-outline mb-4">
                                <input type="password" id="confirm_password_reset" name="confirm_password_reset" autocomplete="off" placeholder="Re-enter New Password" class="form-control form-control-lg" required>
                            </div>
                
                            <button class="btn btn-primary btn-lg btn-block" id="change_password_button" type="submit">Change Password</button>
                            
                        </form>
        
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>




        <script src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>