<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Online Discussion Forum | Profile</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon-logo.PNG">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/custom_stylesheet.css">

        <style>
            td 
            {
                text-align: center;
            }

        </style>

    </head>

    <body>


        {% if session.get("name") %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="/"><img src="/static/student-discussion-logo.png" style="height:75px;width:75px;" alt="Student Discussion logo"></img>&nbsp;&nbsp;</a>
                <a class="navbar-brand" href="/">Student Discussion</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/student_profile">Profile</a>
                        <a class="nav-item nav-link" href="/logout">Log Out</a>
                        <a class="nav-item nav-link" href="/faq">FAQ</a>

                        <div class="dropdown">
                            <a class="nav-item nav-link" onclick="clicked_on_notifications()" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bell small-icon" aria-label="Notification bell"></i>
                                {% if number_of_notifications > 0 %}
                                <span id="number_of_notifications" class="badge rounded-pill badge-notification bg-danger">{{ number_of_notifications }}</span>
                                {% endif %}
                            </a>
                            {% if notifications_info.count() > 0 %}
                            <ul id="list_of_notifications" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" style="display:none;">
                            {% for notification in notifications_info %}
                                {% if notification.username == session.get("name") %}
                                {% if notification.seen is true %}
                                    {% if notification.notification_type == 'follow' %}
                                    <li id="seen_notifications">
                                        <a class="dropdown-item" href="{{url_for('viewing_profile', student_profile_email=notification.username_of_follower)}}">{{ notification.content }}</a>
                                    </li>
                                    {% elif notification.notification_type == 'reply' %}
                                    <li id="seen_notifications">
                                        <a class="dropdown-item" href="{{url_for('view_topic', _id=notification.forum_post_id)}}">{{ notification.content }}</a>
                                    </li>
                                    {% elif notification.notification_type == 'like' %}
                                    <li id="seen_notifications">
                                        <a class="dropdown-item" href="{{url_for('view_topic', _id=notification.forum_post_id)}}">{{ notification.content }}</a>
                                    </li>
                                    {% endif %}
                                {% else %}
                                    {% if notification.notification_type == 'follow' %}
                                    <li id="unseen_notifications" style="background-color:#ADD8E6;">
                                        <a class="dropdown-item" href="{{url_for('viewing_profile', student_profile_email=notification.username_of_follower)}}">{{ notification.content }}</a>
                                    </li>
                                    {% elif notification.notification_type == 'reply' %}
                                    <li id="unseen_notifications" style="background-color:#ADD8E6;">
                                        <a class="dropdown-item" href="{{url_for('view_topic', _id=notification.forum_post_id)}}">{{ notification.content }}</a>
                                    </li>
                                    {% elif notification.notification_type == 'like' %}
                                    <li id="unseen_notifications" style="background-color:#ADD8E6;">
                                        <a class="dropdown-item" href="{{url_for('view_topic', _id=notification.forum_post_id)}}">{{ notification.content }}</a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </nav>

        {% else %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/"><img src="/static/student-discussion-logo.png" style="height:75px;width:75px;" alt="Student Discussion logo"></img>&nbsp;&nbsp;</a>
            <a class="navbar-brand" href="/">Student Discussion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/login_account">Sign In</a>
                    <a class="nav-item nav-link" href="/register_account">Register</a>
                    <a class="nav-item nav-link" href="/faq">FAQ</a>
                </div>
            </div>

            </nav>
        {% endif %}


    <div class="container py-5 h-80">
        
        <table class="user_info_table">
            {% for key, value in document.items() %}
                {% if key == "profile_picture_link" %}
                    {% if value == "" %}
                        <tr>
                            <img id="user_profile_image" src="{{url_for('static', filename='360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg')}}" alt="Profile picture">
                        </tr>
                    {% else %}
                        <tr>
                            <img id="user_profile_image" src="{{url_for('static', filename=value)}}" onerror="this.onerror=null; this.src='https://via.placeholder.com/150/CCCCCC/000000?text=Image+Not+Found';" alt="Profile picture">
                        </tr>
                    {% endif %}
                {% endif %}

            {% endfor %}

            <tr>
                <td><p class="form-control-lg px-1" id="paragraphs_containing_user_profile_info">{{ student_name }}</p></td>
            </tr>

            <tr>
                {% for key, value in document.items() %}
                    
                    {% if key == 'bio' %}
                        <td>
                            
                            <div class="d-flex justify-content-center">
                                <div class="col-md-10 mx-auto">
                                    <p class="form-control-lg" id="profile_bio" style="color:black;">{{ value }}&nbsp;&nbsp;
                                        {% if session.get("name") == document['email'] %}
                                            <a href="#" class="text-center" data-toggle="modal" data-target="#edit_bio"><i class="fa fa-edit" aria-label="Edit bio"></i></a></p>
                                        {% else %}
                                            </p>
                                        {% endif %}
                                </div>
                            </div>


                            <div class="modal fade" id="edit_bio" tabindex="-1" role="dialog" aria-labelledby="edit_bio" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="edit_bio" style="color:black;">Edit Bio</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <form method="POST" action="{{url_for('edit_bio', id_bio=document._id )}}">
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="bio-input" style="color:black;">Enter your new bio here:</label>
                                          <textarea class="form-control" id="bio_input" name="bio_input" aria-label="Enter your new bio here"></textarea>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Update bio</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              
                            
                        </td>
                    {% endif %}

                {% endfor %}
            </tr>


        </table>

        {% for key, value in document.items() %}

            {% if key == 'email' %}

                {% if value == session.get("name") %}

                    <section class="vh-100">
                        <div class="container py-5 h-80">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">


                            <div id="div_for_followers_and_following_tags_in_user_profile">

                                <p class="form-control-lg" id="followers_tag_in_user_profile"><a href="{{url_for('list_of_followers', student_email=value)}}">Followers {{document.number_of_followers}}</a></p>
                                <p class="form-control-lg" id="following_tag_in_user_profile"><a href="{{url_for('list_of_following', student_email=value)}}">Following {{document.number_of_following}}</a></p>

                            </div>

                            <div>
                                <p class="form-control-lg" id="number_of_posts"><a href="{{url_for('all_users_posts', other_student_email=value)}}">Number of posts: {{ total_number_of_posts_and_comments }}</a></p>
                            </div>
                
                            <div class="form-outline mb-4">
                                <form action = "/changing_profile_picture" onsubmit="return validate_profile_picture()" method="post" enctype="multipart/form-data">
                                    <label class="btn btn-primary btn-lg btn-block" for="change_profile_picture_file_upload">
                                        Choose Profile Picture
                                        <input class="btn btn-primary btn-lg btn-block" type="file" id="change_profile_picture_file_upload" name="change_profile_picture_file_upload" accept = "image/*" style="display:none;"><br>
                                    </label><br>
                                    <p class="error profilepicture-error"></p>
                                    <button id="submit_picture_after_loaded" class="btn btn-primary btn-lg btn-block" type="submit" style="display:none;">Change Profile Picture</button>

                                </form>
                            </div>


                            <div class="form-outline mb-4">
                        
                                <form action="/render_forgot_password_template" method="POST">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Change Password</button><br>
                                </form>

                            </div>
                            {% if document.user_type == "admin" %}
                                <div class="form-outline mb-4">
                            
                                    <form action="/render_admin_dashboard" method="POST">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit">Admin Dashboard</button>
                                    </form>

                                </div>
                            {% endif %}


                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </section>

                {% else %}

                    <section class="vh-100">
                        <div class="container py-5 h-80">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">


                            <div id="div_for_followers_and_following_tags_in_user_profile">

                                <p class="form-control-lg" id="followers_tag_in_user_profile"><a href="{{url_for('list_of_followers', student_email=document.email)}}">Followers {{document.number_of_followers}}</a></p>
                                <p class="form-control-lg" id="following_tag_in_user_profile"><a href="{{url_for('list_of_following', student_email=value)}}">Following {{document.number_of_following}}</a></p>

                            </div>

                            {% if session.get("name") %}

                                {% if session.get("name") in document.list_of_followers %}
                                
                                    <div>
                                        <a href="{{url_for('all_users_posts', other_student_email=value)}}"><p class="form-control-lg" id="number_of_posts">Number of posts: {{ total_number_of_posts_and_comments }}</p></a>
                                    </div>

                                    <div class="form-outline mb-4">
                                        
                                        <form action="{{url_for('follow_user', student_profile_email=value)}}" method="POST">
                                            <button id="follow_button" name="follow_button" class="btn btn-primary btn-lg btn-block" value="Following" type="submit" onclick="return confirm('Are you sure you want to unfollow this user?')">Following</button>
                                        </form><br>
                                        
                                        {% if session.get("name") in document.list_of_following %}
                                            <form action="{{url_for('render_message_user_template', student_profile_email=value)}}" method="POST">
                                                <button type="submit" id="message_user" name="message_user" class="btn btn-primary btn-lg btn-block" value="Message">Message</button>
                                            </form>
                                        {% endif %}
                                        <br>
                                        <form action="{{url_for('render_report_user_template', other_student_email=value)}}" method="POST">
                                            <button type="submit" id="report_user" name="report_user" class="btn btn-primary btn-lg btn-block" value="Report User">Report User</button>
                                        </form>

                                    </div>
                                {% else %}

                                    <div>
                                        <p class="form-control-lg" id="number_of_posts">Number of posts: {{ total_number_of_posts_and_comments }}</p>
                                    </div>

                                    <div class="form-outline mb-4">
                                
                                        <form action="{{url_for('follow_user', student_profile_email=value)}}" method="POST">
                                            <button id="follow_button" name="follow_button" class="btn btn-primary btn-lg btn-block" value="Follow" type="submit">Follow</button>
                                        </form><br>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </section>

                {% endif %}
            {% endif %}
        {% endfor %}

    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>