<!DOCTYPE html>
<html>
    <head>

        <title>Online Discussion Forum | Profile</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename= 'favicon-logo.png')}}">
        <link rel="stylesheet" href="/static/css/custom_stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body>


        {% if session.get("name") %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="/"><img src="/static/student-discussion-logo.png" style="height:75px;width:75px;"></img>&nbsp;&nbsp;</a>
                <a class="navbar-brand" href="/">Student Discussion</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/student_profile">Profile</a>
                        <a class="nav-item nav-link" href="/logout">Log Out</a>
                    </div>
                </div>

            </nav>

        {% else %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/"><img src="/static/student-discussion-logo.png" style="height:75px;width:75px;"></img>&nbsp;&nbsp;</a>
            <a class="navbar-brand" href="/">Student Discussion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/login_account">Sign In</a>
                    <a class="nav-item nav-link" href="/register_account">Register</a>
                </div>
            </div>

            </nav>
        {% endif %}


    <div class="container py-5 h-80">
        
        <table class="user_info_table">
            {% for key, value in document.items() %}
                {% if key == "profile_picture_link" %}
                    {% if value == "" %}
                        <tr>
                            <img id="user_profile_image" src="{{url_for('static', filename='360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg')}}">
                        </tr>
                    {% else %}
                        <tr>
                            <img id="user_profile_image" src="{{url_for('static', filename=value)}}">
                        </tr>
                    {% endif %}
                {% endif %}

            {% endfor %}

            <tr>
            {% for key, value in document.items() %}
                {% if key != "_id" and key != "password" and key != "profile_picture_link" and key != "email" and key != "user_registered" and key != "list_of_followers" and key != "number_of_followers" and key != "number_of_following" and key != "list_of_following" %}
                    <td><p class="form-control-lg px-1" id="paragraphs_containing_user_profile_info">{{ value }}</p></td>
                {% endif %}

            {% endfor %}
            </tr>


        </table>

        {% for key, value in document.items() %}

            {% if key == 'email' %}

                {% if value == session.get("name") %}

                    <section class="vh-100">
                        <div class="container py-5 h-80">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">


                            <div id="div_for_followers_and_following_tags_in_user_profile">

                                <p class="form-control-lg" id="followers_tag_in_user_profile"><a href="{{url_for('list_of_followers', student_email=value)}}">Followers {{document.number_of_followers}}</a></p>
                                <p class="form-control-lg" id="following_tag_in_user_profile"><a href="{{url_for('list_of_following', student_email=value)}}">Following {{document.number_of_following}}</a></p>

                            </div>
                
                            <div class="form-outline mb-4">
                                <form action = "/changing_profile_picture" onsubmit="return validate_profile_picture()" method="post" enctype="multipart/form-data">
                                    <input class="btn btn-primary btn-lg btn-block" type="file" id="change_profile_picture_file_upload" name="change_profile_picture_file_upload" accept = "image/*"><br>
                                    <p class="error profilepicture-error"></p>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Change Profile Picture</button>

                                </form>
                            </div>


                            <div class="form-outline mb-4">
                        
                                <form action="/render_forgot_password_template" method="POST">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Change Password</button>
                                </form>

                            </div>


                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </section>

                {% else %}

                    <section class="vh-100">
                        <div class="container py-5 h-80">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">


                            <div id="div_for_followers_and_following_tags_in_user_profile">

                                <p class="form-control-lg" id="followers_tag_in_user_profile"><a href="{{url_for('list_of_followers', student_email=document.email)}}">Followers {{document.number_of_followers}}</a></p>
                                <p class="form-control-lg" id="following_tag_in_user_profile"><a href="{{url_for('list_of_following', student_email=value)}}">Following {{document.number_of_following}}</a></p>

                            </div>

                            {% if session.get("name") in document.list_of_followers %}
                                <div class="form-outline mb-4">
                            
                                    <form action="{{url_for('follow_user', student_profile_email=value)}}" method="POST">
                                        <button id="follow_button" name="follow_button" class="btn btn-primary btn-lg btn-block" value="Following" type="submit">Following</button>
                                    </form>

                                </div>
                            {% else %}
                                <div class="form-outline mb-4">
                            
                                    <form action="{{url_for('follow_user', student_profile_email=value)}}" method="POST">
                                        <button id="follow_button" name="follow_button" class="btn btn-primary btn-lg btn-block" value="Follow" type="submit">Follow</button>
                                    </form>

                                </div>
                            {% endif %}

                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </section>

                {% endif %}
            {% endif %}
        {% endfor %}

    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>